*{
  box-sizing: border-box;
}

h1{
  color: hotpink;
  margin-bottom: 5px;
}

body{
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica;
}

img {
  width: 50px;
  height: 50px;
}

.grid-container {
  width: 60%;
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.card-box {
  width: 150px;
  height: 150px;
  border: 1px solid white;
  background-color: hotpink;
  transition: all 0.5s ease-in;
  /* pointer-events: none; */
}

.card-box:hover {
  background-color: white;
}

.flip{
  background-color: yellow;
  transform: rotateY(180deg);
  transitiion: all 0.5s ease-in;
}

.card-box img{
  pointer-events: none;
  width: 150px;
  height: 150px;
  transform: rotateX(0deg);
  transition: all 0.5s ease-in;
  opacity: 0;
}

/* Flip and show cards: */
.view-picture img{
  opacity: 1;
  transform: rotateY(180deg);
  transition: all 0.5s ease-in;
}

.match {
  background-color: #00D9FF;
}

.stop {
  pointer-events: none;
}

.play-again{
  width: 150px;
  height: 60px;
  padding: 8px;
  margin-top: 15px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  font-weight: bold;
  background-color: hotpink;
  color: white;
}

.play-again:hover{
  background-color: #00D9FF;
  color: black;
}

.shake {
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.rotate{
  transform: rotate(360deg);
}

.restart{
  background-color: hotpink;
}
